################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CPPProjects/v16/Browse.VC.db
/.vs
/PointerDemo/.vs/PointerDemo/v16/Browse.VC.opendb
/PointerDemo/.vs/PointerDemo/v16/Browse.VC.db-wal
/PointerDemo/.vs/PointerDemo/v16/Browse.VC.db-shm
/PointerDemo/.vs/PointerDemo/v16/Browse.VC.db
/PointerWithArray/.vs/PointerWithArray/v16/Browse.VC.opendb
/PointerWithArray/.vs/PointerWithArray/v16/Browse.VC.db-wal
/PointerWithArray/.vs/PointerWithArray/v16/Browse.VC.db-shm
/PointerWithArray/.vs/PointerWithArray/v16/Browse.VC.db
