################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CPPProjects/v16/Browse.VC.db
/.vs
